@media (min-width: 1200px) {
  .container {

  }
}


.back{ 
    background: #654ea3;
    background: -webkit-linear-gradient(to left,  #948E99, #2E1437);
    background: linear-gradient(to left,  #948E99, #2E1437);*/

}
